<div class="container text-center">
  <div>
    <h1>Stupid coaching</h1>

    <p>Ask your coach anything:</p>
  </div>

  <div>
    <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
